<div class="body-about" style="min-height: 74vh;">
  <p-breadcrumb [model]="items"></p-breadcrumb>
  <br>
  <h1>Giới thiệu đôi nét về blog Debugger</h1>
  <br>
  <span>Như tên miền của trang web, phần nào các bạn cũng đoán ra blog này chủ
    yếu chia sẻ về những nội dung xoay quanh đến những nội dung về công nghệ, cụ
    thể ở đây là lập trình!</span><br><br>
  <span>Mình là Thế, tên đầy đủ là Nguyễn Ngọc Thế, là một lập trình viên có
    tuổi đời còn khá trẻ, một Gen Z chính hiệu 😀. Mình tốt nghiệp trường ĐH
    Kinh Tế Quốc Dân và bắt đầu công việc của một lập trình viên khá sớm.
  </span>
  <span>Những nội dung trên Blog này hoàn toàn dựa trên kinh nghiệm và kiến thức
    của bản thân mình nên có thể còn thiếu sót, ngoài ra mình còn chia sẻ những
    nội dung khác ngoài lập trình như cuộc sống, chia sẻ cá nhân hay đôi khi là
    cả những giãi bày tâm sự ...</span><br><br>
    <h1>Blog này có gì?</h1>
    <br>
  <span>Ngoài những bài viết mang tính chất công nghệ và kỹ thuật trong ngành
    được viết bằng cả tâm huyết của mình, blog này cũng sẽ mang đến một góc nhìn
    mới cho các bạn về ngành lập trình, góc nhìn của Gen Z với cuộc sống và sự nghiệp</span>
    <br><br>
    <span><b>Cảm ơn bạn đã ghé thăm Blog, hi vọng bạn có những phút giây vui vẻ khi đọc blog này.</b></span>
</div>