<div class="menu-bar">
        <div class="logo" *ngIf="deviceInfo.deviceType == 'desktop'"
            style="left: 10vw">
            <a href="/blog/home">
                <img src="assets/img/download.png" height="59px"
                    style="border-radius: 20px;" />
            </a>
        </div>
    <nav>

        <ul *ngIf="deviceInfo.deviceType == 'desktop'">
            <li *ngFor="let item of navs"><a [routerLinkActive]="['active-nav']"
                    [routerLink]="[item.link]"><i></i>&ensp;{{item.name}}</a></li>
            <div>
                <span class="p-input-icon-left">
                    <input type="text" pInputText [(ngModel)]="textSearch"
                        placeholder="Search" maxlength="50" (keyup.enter)="navigateResultSearch()">
                    <i *ngIf="textSearch" [style.color]="textSearch ? 'red' : ''" class="pi pi-search search-icon" style="cursor: pointer;" [routerLink]="'search'" [queryParams]="{ keyword: textSearch }"></i>
                    <i *ngIf="!textSearch"  class="pi pi-search search-icon"></i>
                </span>
            </div>
        </ul>
        <div *ngIf="deviceInfo.deviceType == 'mobile'">
            <div class="mobile">
                <div class="logo-mobile">
                    <a href="/blog/home">
                        <img src="assets/img/download.png" style="height:
                            70px;border-radius: 20px;" />
                    </a>
                </div>
                <div class="search-mobile">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input style="width: 150px;" type="text" pInputText
                            [(ngModel)]="textSearch" placeholder="Search">
                    </span>
                    <div class="side-bar-mobile">
                        <p-sidebar [(visible)]="displayMenuMobile"
                            position="top" class="side-bar-show">
                            <div>
                                <div class="item-nav-mb" *ngFor="let item of
                                    navs"><a [routerLinkActive]="['active-nav']"
                                        (click)="showHideMenuMobile()"
                                        [routerLink]="[item.link]"><i></i>&ensp;{{item.name}}</a></div>
                            </div>
                        </p-sidebar>

                        <i (click)="showHideMenuMobile()" class="pi
                            pi-align-justify" style=" color: red;
                            padding: 3px;
                            background: beige;
                            border-radius: 3px;"></i>
                    </div>
                </div>



            </div>

        </div>
    </nav>
</div>