<div class="blog-box row">
  <div class="col-md-4" *ngIf="deviceInfo.deviceType == 'desktop'">
    <div class="post-media">
      <a href="tech-single.html" title="">
        <img src="assets/upload/blog_10.jpg" height="170px" alt=""
          class="img-fluid">
        <div class="hovereffect"></div>
      </a>
    </div><!-- end media -->
  </div><!-- end col -->

  <div class="blog-meta big-meta col-md-8">
    <a href="tech-single.html" title=""><div [innerHTML]="recent.title"></div>
      <!-- <h4>{{recent.title}}</h4> -->
      <div style="color: black;" [innerHTML]="recent.header"></div>
      
    </a>

    <div class="bottom">
      <small class="firstsmall text-bot">
        <a class="bg-orange"
          title="">{{recent.category}}</a>
      </small>
      <small class="text-bot"><a title="">{{formatDate(recent.dateCreate)}}</a></small>
      <small class="text-bot"><a title="">Create by: {{recent.userCreate}}</a></small>
      <small class="text-bot" style="display: flex;"><div style="margin-top: 2px;
          margin-right: 3px;"><i class="pi pi-eye"></i></div><div><span>{{recent.view}}</span></div></small>
    </div>
  </div><!-- end meta -->
</div><!-- end blog-box -->

<hr class="invis">