.bottom {
  display: flex;
  margin-top: 10px;
}

.text-bot {
  padding: 4px;
}
.highlight {
  background-color: coral;
  margin-right: 10px;
  border-radius: 8px;
  text-align: center;
  color: #ffffff !important;
}
