<div class="widget" style="padding: 10px;">
  <h3 class="widget-title">Follow tôi</h3>

  <div class="row text-center">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a href="#" class="social-button facebook-button">
        <img height="20px" src="assets/img/facebook.png" />
        <p>27k</p>
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a href="#" class="social-button twitter-button">
        <img height="20px" src="assets/img/google.png" />
        <p>98k</p>
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a href="#" class="social-button google-button">
        <img height="20px" src="assets/img/youtube.png" />
        <p>17k</p>
      </a>
    </div>
  </div>
</div><!-- end widget -->