<div class="widget" style="padding: 10px;">
  <h3 class="widget-title">Follow tôi</h3>

  <div class="row text-center">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a target="_blank" href="https://www.facebook.com/vinasoy.vnn/" class="social-button facebook-button">
        <img height="20px" src="assets/img/facebook.png" />
        <p>1k</p>
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a target="_blank" href="https://www.linkedin.com/in/the-nguyen-825334244/" class="social-button twitter-button">
        <img height="20px" src="assets/img/linkin.png" />
        <p>-</p>
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a target="_blank" href="https://www.youtube.com/channel/UC-De4d6Sa43K3a47uYNtr2g" class="social-button google-button">
        <img height="20px" src="assets/img/youtube.png" />
        <p>17k</p>
      </a>
    </div>
  </div>
</div><!-- end widget -->